In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import pandas as pd
import numpy as np

In [5]:
df=[[12,2,1,1],[15,4,0,0],[20,5,0,0],[18,4,1,1],[25,7,1,1],[30,9,0,0],[32,9,0,0],[31,10,1,1],[30,8,0,0],[29,6,0,0],[28,6,0,0],[33,12,1,1],[35,13,0,0],[40,18,1,2],[38,15,0,0],[41,18,0,0],[43,20,1,1],[43,25,0,0],[40,20,1,1],[42,20,1,1]]
new_data=pd.DataFrame(df,columns=['Temp','Sales','Holiday','Event Day'])

X=new_data[['Temp','Holiday','Event Day']]
y=new_data[['Sales']]

X = np.asarray(X).reshape(20, 3)
y = np.asarray(y).reshape(-1, 1)

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
new_data

    Temp  Sales  Holiday  Event Day
0     12      2        1          1
1     15      4        0          0
2     20      5        0          0
3     18      4        1          1
4     25      7        1          1
5     30      9        0          0
6     32      9        0          0
7     31     10        1          1
8     30      8        0          0
9     29      6        0          0
10    28      6        0          0
11    33     12        1          1
12    35     13        0          0
13    40     18        1          2
14    38     15        0          0
15    41     18        0          0
16    43     20        1          1
17    43     25        0          0
18    40     20        1          1
19    42     20        1          1

In [8]:
#X_pred = [10, 13, 19, 21, 35]
#X_pred = np.asarray(X_pred).reshape(-1, 1)

model_lr = LinearRegression().fit(X_train, Y_train)
predict = model_lr.predict(X_test)
model_mae = round(mean_absolute_error(Y_test,predict),2)
model_mae

2.2

In [16]:
X_test

array([[40,  1,  1],
       [15,  0,  0],
       [42,  1,  1],
       [30,  0,  0]], dtype=int64)

In [15]:
predict

array([[18.04163972],
       [-0.43479198],
       [19.40702019],
       [ 9.80556154]])

In [19]:
print([Y_test],[predict])
#print()

[array([[20],
       [ 4],
       [20],
       [ 8]], dtype=int64)] [array([[18.04163972],
       [-0.43479198],
       [19.40702019],
       [ 9.80556154]])]

In [12]:
result = pd.DataFrame(Y_test, columns=['Actual'])
result['Predicted'] = predict
print(result.to_string())

   Actual sales  Predicted sales
0            20        18.041640
1             4        -0.434792
2            20        19.407020
3             8         9.805562